$white: #fff;
$black: #000;
$blackDark: rgb(39, 39, 39);
$main1: rgb(10, 161, 149);
$main2: rgb(39, 190, 218);
$silver: rgb(179, 183, 184);
$silverDark: rgb(123, 123, 123);
$silverLight: #aaa;
$silverLight-50: #d4cfcfcf;
$silverLight-40: #e4e4e4;
$silverLight-45: #e2e4eb;
$blue: rgb(43, 160, 193);
$green: rgb(29, 182, 103);
$red: rgb(193, 43, 43);
